.cross {
  position: relative;
  width: 350px;
  height: 350px;
}

.cross .center,
.cross .left,
.cross .up,
.cross .right,
.cross .down {
  position: absolute;
  background-color: gray;
}

.cross .center {
  left: 35.7%;
  top: 35.7%;
  width: 28.6%;
  height: 28.6%;
}

.cross .left,
.cross .right {
  border-top: 2px solid rgb(169, 169, 57);
  border-bottom: 2px solid rgb(169, 169, 57);
  width: 35.7%;
  height: 28.6%;
}

.cross .up,
.cross .down {
  border-left: 2px solid rgb(169, 169, 57);
  border-right: 2px solid rgb(169, 169, 57);
  width: 28.6%;
  height: 35.7%;
  display: flex;
}

.left .line,
.right .line {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}

.up .line:first-child,
.down .line:first-child {
  border-right: 1px dashed white;
}

.left .line:last-child,
.right .line:last-child {
  border-top: 1px dashed white;
}

.left .line:first-child,
.right .line:first-child {
  border-bottom: 1px dashed white;
}

.up .line:last-child,
.down .line:last-child {
  border-left: 1px dashed white;
}

.up .line,
.down .line {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.left .line {
  justify-content: flex-end;
}

.up .line {
  align-items: flex-end;
}

.cross .left {
  left: 0;
  top: 35.7%;
}

.cross .up {
  top: 0;
  left: 35.7%;
}

.cross .right {
  top: 35.7%;
  right: 0;
}

.cross .down {
  left: 35.7%;
  bottom: 0;
}

.left .car-place,
.right .car-place {
  width: 50%;
  height: 75%;
  border-radius: 10px;
}

.up .car-place,
.down .car-place {
  width: 75%;
  height: 50%;
  border-radius: 10px;
}

.car-place {
  border: none;
}

.car-place.active {
  border: 2px dashed rgb(227, 126, 32);
}

.car-place.active:hover::before {
  content: "+";
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: rgb(227, 126, 32);
  cursor: pointer;
}
