main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select-crossroad {
  display: flex;
}

.select-crossroad * {
  font-size: 1.2rem;
}

section.crossroad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
